
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mqtt-express</title>
        <link  rel="stylesheet" type="text/css" href="{{globalCSS}}" />
    </head>
    
    <body>
        {{{body}}}
    </body>
    <script src=""></script>
</html>