<html lang="en">
  <head>
    <title>Mqtt-express</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/nes.css@latest/css/nes.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/js/toggle.js"></script>
  <script type="text/javascript" src="/js/click.js"></script>
</html>