
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{globalCSS}}" />
    </head>
    
    <body style="
        height: 100vh;
        background-image: url("src/public/assets/8-bit-13.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
    ">
        {{{body}}}
    </body>
    <script src=""></script>
</html>